body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/vintage-concrete.png");
    background-color: #cccccc;
 }
.navBar{
    background-color: #009688  ;
    
}
.kohteetButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    width: 50%;
}
#root {
    margin: 0 auto;
    position: relative;
}
.cameraButton {
    background-color: #0288D1;
    display: block;
    margin: auto;
    margin-top: 5%;
}
.btn:focus {
    background-color: #0288D1;
}
#mainContent {
    margin: auto;
    display: block;
}
.l6 {
    margin-left: 25%;
    display: block;
}
